*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #3b5e7a;
}

iframe{
    width: 100vw;
    height: 100vh;
    border: none;
    display: block;
}